# fly.toml app configuration file generated for project-002-highlighting-web on 2025-10-26T20:58:21-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'project-002-highlighting-web'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'
  context = '.'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
