# fly.toml app configuration file generated for project-002-highlighting-transcriber on 2025-10-26T20:48:08-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'project-002-highlighting-transcriber'
primary_region = 'iad'

[build]
  image = 'flyio/hellofly:latest'
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
